/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 22, 2018, 12:36:44 PM
    Author     : Norm
*/

body {
    text-align: center;
    font-family: Helvetica;
}

.header-section {
    background-image: url(./images/the-flatiron-building.png);
    color: white;
}

h1 {
    font-weight: bold;
    font-size: 70px;
}

.header-link {
    font-size: 18px;
    color: white;
}

a {
    color: white;
}

.process,.process-heading {
    font-size: 32px;
    font-weight: bold;
}

h2 {
    font-size: 23px;
}

h3 {
    font-size: 14px;
    font-weight: bold;
}

.process {
font-weight: bold;    
}

.new-york {
    color: white;
    background-image: url(./images/the-flatiron-building.png);
}

.footer {
    font-size: 11px;
    color: white;
    background-color: dimgray
}